.socialMediaLotus {
    max-width: 800px;
    margin: 50px none;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "b1 b1"
        "b2 b3"
        "b4 b4";
}


.loti {
    background: #fff;
    display: inline-block;
    border-radius: 2%;
    transform: rotate(45deg);
    height: 100px;
    width: 100px;
    position: relative;
    opacity: 0.9;
    transition: 0.1s;
}

.loti:hover {
    opacity: 1;
    transition: 0.1s;
    
}

.lotusIcon {
    transform: rotate(-45deg);
    width: 80%;
    height: 80%;
    z-index: 30;
    position: absolute;
    top: 10%;
    left: 10%;
    
    
}

.b1 {
    grid-area: b1;
    top: 25px;
}
.b2 {
    grid-area: b2;
    right: 25px;
    justify-self: end;
}
.b3 {
    grid-area: b3;
    justify-self: start;
    left: 25px;
}
.b4 {
    grid-area: b4;
    bottom: 25px;
}